[DUN]
default=/dev/xmd-tty8

[RIL_BASE]
IPC_GROUP_UNSOLICITED=/dev/xmd-tty0
IPC_GROUP_INITIALIZATION=/dev/xmd-tty0
IPC_GROUP_SIM=/dev/xmd-tty3
IPC_GROUP_STK=/dev/xmd-tty3
IPC_GROUP_CALL_CONTROL=/dev/xmd-tty1
IPC_GROUP_NETWORK=/dev/xmd-tty10
IPC_GROUP_SMS=/dev/xmd-tty4
IPC_GROUP_SMS_MO=/dev/xmd-tty11
IPC_GROUP_SS_USSD=/dev/xmd-tty1
IPC_GROUP_PHONEBOOK=/dev/xmd-tty4
IPC_GROUP_FACTORY_TEST=/dev/xmd-tty7
IPC_GROUP_ME_CONTROL_AND_STATUS=/dev/xmd-tty0
IPC_GROUP_TEMP=/dev/xmd-tty0
IPC_GROUP_DATACALL_CONTROL_1=/dev/xmd-tty2,3
IPC_GROUP_DATACALL_CONTROL_2=/dev/xmd-tty2,3
IPC_GROUP_DATACALL_CONTROL_3=/dev/xmd-tty2,3
IPC_GROUP_DATACALL_DATA_1=/dev/xmd-tty12,13
IPC_GROUP_DATACALL_DATA_2=/dev/xmd-tty13,14
IPC_GROUP_DATACALL_DATA_3=/dev/xmd-tty14,15
IPC_GROUP_INTERNAL_REQUESTS=/dev/xmd-tty9
NET_DEV_NAME=rmnet%d

[VT_CHANNEL]
VT_CONTROL=/dev/xmd-tty1,2
VT_DATA=/dev/xmd-tty5,6

[AT_SERVICE]
IPC_GROUP_AT_SERVICE=/dev/xmd-tty9

[AGPS_SERVICE]
IPC_GROUP_AGPS_SERVICE_TTY=NULL
IPC_GROUP_AGPS_SERVICE_CHANNEL=/dev/xmd-tty6
IPC_GROUP_AGPS_SERVICE_SHW=1
IPC_GROUP_AGPS_SERVICE_USOCK=NULL
IPC_GROUP_AGPS_SERVICE_UHW=0
IPC_GROUP_AGPS_SERVICE_SPORT=0
